.form__container{
    position:relative;
    display: block;
    width:95%;
    max-width: 600px;
    margin: 20px auto;
    padding:20px;
    border-radius:5px;
    box-shadow: 2px 5px 10px 0px $color-tertiary;
    @include silver;
}

.password__change__form {
    display:flex;
    flex-direction: column;
    width:100%;
    margin:0 auto;

    &__heading {
        margin:15px auto;
    }

    &__bloc {
        margin: 10px 0px;

        &__label {
            font-size: 15px;
            display: block;
            text-align: left;
        }

        &__input {
            width:100%;
            margin: 5px auto;
            padding: 10px;
            height:30px;
        }
    }
}