.submit-btn {
    margin: 20px auto 25px;
    width:120px;
    font-size: 22px;
    border-radius:50px;
    border: 3px solid #333;
    color: black;
    cursor: pointer;

    &:hover {
        color: $color-secondary;
        background-color: $color-primary;
        box-shadow: 3px 3px 6px $color-tertiary;
    }
}